{% extends 'base.html.twig' %}

{% block title %}List of next meetups{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="title">
                List of next meetups
            </h1>
            <table class="table is-striped is-fullwidth is-narrow">
                <tbody>
                    {% for meetup in listOfNextMeetups %}
                        <tr>
                            <td style="width: 8em;">
                                <a href="{{ path('meetupDetails', {date: meetup.date | date('Y-m-d')}) }}">
                                {{ meetup.date | date('Y-m-d') }}
                                </a>
                            </td>
                            <td>
                                {% if meetup.host %}
                                    Host: {{ meetup.host }}
                                {% endif %}

                                {% if meetup.host and meetup.speaker %}
                                    <br>
                                {% endif %}

                                {% if meetup.speaker %}
                                    Speaker: {{ meetup.speaker }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
